<h2 class="p-2">Recent Articles</h2>

<% articles.forEach(article => { %>
    <div class="card mb-2">
        <h3><%= article.title %></h3>
        <div class="card--info">
            <%= article.createdDate.toLocaleDateString() %>
        </div>
        <div class="card--desc"><%= article.description %></div>
    </div>
<% }); %>