<h2 class="mb-2">Login</h2>

<form action="/login" method="POST">
    <div class="mb-1">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required />
    </div>

    <div class="mb-1">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />
    </div>

    <div class="mb-2">
        <a href="/">Cancel</a>
        <button type="submit">Login</button>
    </div>

    <div>
        <span>Not registered?</span>
        <a href="/register">Register</a>
    </div>
</form>
