<div class="mb-2">
    <label for="articleTitle">Title</label>
    <input id="articleTitle" type="text" name="title" required />
</div>

<div class="mb-2">
    <label for="articleDescription">Description</label>
    <textarea id="articleDescription" name="description"></textarea>
</div>

<div class="mb-2">
    <label for="articleMarkdown">Markdown</label>
    <textarea id="articleMarkdown" name="markdown" required></textarea>
</div>

<a href="/" class="mr-2">Cancel</a>
<button type="submit">Save</button>