<h2 class="mb-2"><%= article.title %></h2>

<div class="mb-4"><%= article.createdDate.toLocaleDateString() %></div>

<div class="mb-4">
    <a href="/articles/edit/<%= article.id %>">Edit</a>
</div>

<div>
    <%= article.markdown %> 
</div>