button {
    color: var(--color-malibu);
    font-size: var(--font-size);
    text-decoration: none;
    text-shadow:
        0 0 .125em hsla(0, 0%, 100%, .2),
        0 0 .25em currentColor;
    
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: .5em 1em;
    background-color: transparent;
    
    border: currentColor .125em solid;
    border-radius: .25em;
    box-shadow:
        0 0 .5em 0 currentColor,
        inset 0 0 .5em 0 currentColor;
}

/*
button::before {
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-malibu);
    transform:
        perspective(1em)
        rotateX(40deg)
        scale(1, .35);
    filter: blur(1.5em);
}
*/