header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 4rem;
    width: 100%;
    background-color: var(--color-mine-shaft);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.75);
}

header nav .logo {
    padding: 1rem;
    font-size: 1.5rem;
    z-index: 2;
    text-shadow: 2px 2px 10px #000000;
}

header nav .toggle-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 4rem;
    width: 4rem;
    padding: 1rem;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

header nav .toggle-button > span {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--color-aero-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease;
}

header nav .toggle-button > span::before,
header nav .toggle-button > span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: inherit;
}

header nav .toggle-button > span::before {
    top: -.8rem;
}

header nav .toggle-button > span::after {
    top: .8rem;
}

header nav .toggle-button.active > span {
    transform: rotate(135deg);
}

header nav .toggle-button.active > span::before,
header nav .toggle-button.active > span::after {
    top: 0;
    transform: rotate(90deg);
}

header nav .toggle-button.active:hover > span {
    transform: rotate(225deg);
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li:hover {
    background-color: var(--color-boulder);
}

header nav ul li a {
    display: inline-block;
    padding: 1rem;
}

@media (max-width: 670px) {
    header nav {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    header nav .toggle-button {
        display: flex;
    }

    header nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    header nav ul.active {
        background-color: var(--color-mine-shaft);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        z-index: 1;
    }

    header nav ul li {
        width: 100%;
        text-align: center;
    }

    header nav ul li a {
        padding: .5rem 1rem;
    }
}
