:root {
    /** COLORS **/
    --color-mine-shaft: #272727;
    --color-emperor: #505050;
    --color-boulder: #747474;
    --color-mountain-meadow: #14A76C;
    --color-turbo: #FFE400;
    --color-outrageous-orange: #FF652F;
    --color-aero-blue: #C8FFEB;
    --color-perano: #A0D0F0;
}
