/*** Root scope variables. ***/
:root {
    /** COLORS **/
    --color-mine-shaft: #272727;
    --color-emperor: #505050;
    --color-boulder: #747474;
    --color-mountain-meadow: #14A76C;
    --color-turbo: #FFE400;
    --color-outrageous-orange: #FF652F;
    --color-aero-blue: #C8FFEB;
    --color-perano: #A0D0F0;
}

/*** Styles reset. ***/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--color-emperor);
    color: var(--color-aero-blue);
    font-size: 16px;
    line-height: 1.25;
}
a {
    text-decoration: none;
    color: inherit;
}

/*** Common utility styles. ***/
.container {
    padding: 10px;
}
.mr-2 {
    margin-right: 10px;
}
.mb-1 {
    margin-bottom: 5px;
}
.mb-2 {
    margin-bottom: 10px;
}
.mb-4 {
    margin-bottom: 20px;
}

/*** Header styles. ***/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: var(--color-mine-shaft);
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 4rem;
}
header nav .logo {
    font-size: large;   
    padding: 10px;
}
header nav .toggle-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 4rem;
    width: 4rem;
    padding: 1rem;
    display: none;
    align-items: center;
    justify-content: center;
}
header nav .toggle-button > span {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--color-aero-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease;
}
header nav .toggle-button > span::before,
header nav .toggle-button > span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: inherit;
}
header nav .toggle-button > span::before {
    top: -.8rem;
}
header nav .toggle-button > span::after {
    top: .8rem;
}
header nav .toggle-button.active > span {
    transform: rotate(135deg);
}
header nav .toggle-button.active > span::before,
header nav .toggle-button.active > span::after {
    top: 0;
    transform: rotate(90deg);
}
header nav .toggle-button.active:hover > span {
    transform: rotate(225deg);
}
header nav ul {
    display: flex;
}
header nav ul li {
    list-style: none;
}
header nav ul li:hover {
    background-color: var(--color-boulder);
}
header nav ul li a {
    display: inline-block;
    padding: 1rem;
}
@media (max-width: 560px) {
    header nav {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    header nav .toggle-button {
        display: flex;
    }
    header nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }
    header nav ul.active {
        display: flex;
        position: absolute;
        top: 4rem;
        background-color: var(--color-mine-shaft);
    }
    header nav ul li {
        width: 100%;
        text-align: center;
    }
    header nav ul li a {
        padding: .5rem 1rem;
    }
}

/*** Component BEM based styles. ***/
.card {
    background-color:var(--color-mine-shaft);
    border: 1px solid var(--color-perano);
    padding: 10px;
    -webkit-box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.5);
}
.card:hover {
    -webkit-box-shadow: 2px 2px 6px -1px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 6px -1px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 6px -1px rgba(0,0,0,0.5);
}
.card-title {
    color: var(--color-mountain-meadow);
}
.card--info {
    color: var(--color-outrageous-orange);
}
.card--desc {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
}