@import './_root.css';
@import './_reset.css';
@import './_shared.css';
@import './_header.css';
@import './_card-component.css';

header {
    min-height: 4rem;
}

main {
    min-height: calc(100vh - 8rem);
    padding: 1rem;
}

footer {
    min-height: 4rem;
    padding: 1rem;
    background-color: var(--color-mine-shaft);
    -webkit-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.75);
}
