/* Styles reset. */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    color: #151515;
    font-size: 14px;
    line-height: 1;
    background-color: #f5f5ff;
    padding: 25px;
}
a {
    text-decoration: none;
    color: #151515;
}
a:hover {
    font-weight: bold;
}

/* Common utility styles. */
.container {
    padding: 10px;
}
.mr-2 {
    margin-right: 10px;
}
.mb-1 {
    margin-bottom: 5px;
}
.mb-2 {
    margin-bottom: 10px;
}
.mb-4 {
    margin-bottom: 20px;
}

/* Component BEM based styles. */
.card {
    border: 1px solid black;
    padding: 10px;
    background-color: white;
    -webkit-box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.5);
}
.card:hover {
    -webkit-box-shadow: 2px 2px 6px -1px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 6px -1px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 6px -1px rgba(0,0,0,0.5);
}
.card--info {
    color: cornflowerblue;
}
.card--desc {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
}