<header>
    <nav>
        <a href="/" class="logo">SE-SGC</a>

        <a href="#" class="toggle-button"><span></span></a>
        
        <ul class="navigation-links">
            <li><a href="/guides">Style Guides</a></li>
            <li><a href="/bases">Knowledge Base</a></li>
            <li><a href="/articles">Blog Articles</a></li>
            <li><a href="/products">Products & Ideas</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>
