<header class="container">
    <nav>
        <a href="/" class="mr-2">SE-SGC Logo</a>
        <a href="/" class="mr-2">Recent Articles</a>
        <a href="/articles" class="mr-2">All Articles</a>
        <a href="/about" class="mr-2">About</a>
        <a href="/contact" class="mr-2">Contact</a>

        <!-- Temp link. -->
        <a href="/articles/new">New Article</a>
    </nav>
</header>
