<header>
    <nav>
        <a href="/" class="logo">SE-SGC</a>

        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        
        <ul class="navigation-links">
            <li><a href="/">Recent Articles</a></li>
            <li><a href="/articles">All Articles</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li>
                <!-- Temp link. -->
                <a href="/articles/new">New Article</a>
            </li>
        </ul>
    </nav>
</header>
