<header>
    <nav>
        <a href="/" class="logo">SE-SGC</a>

        <a href="#" class="toggle-button"><span></span></a>
        
        <ul class="navigation-links">
            <li><a href="/articles">Articles</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
