<div class="mb-2">
    <h2>About author...</h2>
    <p>Info about the author, Sviatoslav Malinovskyi</p>
</div>

<div class="mb-2">
    <h2>Contact author...</h2>
    <p>Author's contact information</p>
</div>

<div>
    <a href="/about/styles">Site's style guide</a>
</div>