<h2>Design Style Guide</h2>

<h3>Typography</h3>
<div>
    Visual type scale of the main body font...
    1. List of the same text in different font sizes for UI comparizon
    2. Relation between body text and header (font-weights step in the play)
    3. Size step, scale factor = ? e.g. "Golden Ratio" rule (1.618033...)
    4. Select font size base (usually it is 16px - not less)
    5. Adopt resulting font sizes with some factor step, e.g. 8px (or 4px)
        (! all paddings and margins should follow same scale factor rule.)
    
</div>

<h3>Color Theme</h3>
<div class="theme">
    <div class="main">
        <div class="accent-1"></div>
        <div class="accent-2"></div>
        <div class="accent-3"></div>
        <div class="accent-4"></div>
        <div class="accent-5"></div>
        <div class="accent-6"></div>
        <div class="accent-7"></div>
    </div>

    <div class="component">
        <div class="accent-1"></div>
        <div class="accent-2"></div>
        <div class="accent-3"></div>
        <div class="accent-4"></div>
        <div class="accent-5"></div>
        <div class="accent-6"></div>
        <div class="accent-7"></div>
    </div>
</div>