<h2>Collection of different products and ideas</h2>

<p>List...</p>

<ul>
    <li>Side Effects by Element Labeling - SEEL</li>
    <li>End-to-End API Testing Flows</li>
    <li>Simple Project Managment Board</li>
    <li>etc...</li>
</ul>